body {
  background-color: #202020 !important;
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
}

/* /////////////////////// */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.bg-red {
  background-color: #cc0000;
}
.text-white{
  color: rgba(255, 255, 255, 0.733) !important;
}
.btn {
  background-color: #cc0000 !important;
  font-weight: 500 !important;
}
.text-red{
  color: #cc0000 !important;
}
.search-Inp{
  background-color: #414141 !important;
  border: none !important;
  border-radius: 2px;
  color: aliceblue !important; 
}
.btn-default{
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background-color: #3b3b3b !important;
  border-left: rgba(255, 255, 255, 0.397) solid 2px !important;
}

